body {
    width: 200px;
    height:100px;
    color: #333333;
    font-family: Georgia, serif;
    font-size: 14px;
   
}
.container {
    position: relative;
    display:flex;
    gap:16px;
    justify-content: center;
    align-items: center;
    top:30%;

}


button {
    border-radius: 25px;
    padding:15px;
    
   
  
}
button:hover {
    background-color:grey;
    color:white;
}
button:active{
    background-color: rgb(182, 182, 182);
    color:white;
}
